launchConfigurations/
key
key.pub
.settings/com.ibm.etools.references.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
WebContent/META-INF/MANIFEST.MF
WebContent/WEB-INF/ibm-web-bnd.xml
WebContent/WEB-INF/ibm-web-ext.xml
.classpath
.factorypath
.project
.settings/.jsdtscope
