<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Carpool App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="css/vendor/normalize.min.css">
        <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="css/vendor/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
        <link type="text/css" href="css/vendor/font-awesome.min.css" rel="stylesheet" />
        
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/vendor/font-awesome-ie7.min.css">
            <![endif]-->
            <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="css/vendor/jquery.ui.1.10.0.ie.css"/>
        <![endif]-->

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <!--xxxxxxx-->

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/rider.css">
        <link rel="stylesheet" href="css/owner.css">

        <script data-main="js/app" src="lib/require.js"></script>

    </head>

    <body></body>

</html>
