extends layout

block content
  h1 User Account
  p Welcome #{user.displayName}
  p.
    This is your "Account" page. Below are some links to simulated portions of a website. 
    The <strong>Reports</strong> page requires that you have group permission to "reports".
  p To add this permission you must use the following command in Redis:
  pre(style="background-color:black;color:#eee;padding:.5em;font-weight:bold").
      SADD "User.Groups.&lt;Your Serialnumber+Country Code&gt;" "reports"
  h2 Pages
  div
    a(href="/") Start Page
  div
    a(href="/reports") Reports