<!DOCTYPE html>
<head>
</head>
<body>
	<form name="input" action="/create_group" method="post">
		GID: <input type="text" name="gid"><br/>
		From: <input type="text" name="from"><br/>
		To: <input type="text" name="to"><br/>
		Which days: <input type="text" name="frequency"><br/>
		Creator: <input type="text" name="creator"><br/>
		Number of seats: <input type="text" name="number_of_seats"><br/>
		Time: <input type="text" name="time"><br/>
	<input type="submit" value="Submit">
</form> 
</body>

</html>