extends layout

block content
  h1= title
  p This is an example Express.js application showing how to set up LDAP authentication with IBM Bluepages using Passport.js
  p.
   Click the link below to "View your account". 
   If you are not already logged in, it will redirect you to the login page to ask you to provide your IBM internet email and password.
   Note that your password will not be stored anywhere. Also avoid entering bad passwords multiple times in a row, because your password will be revoked.
  div
    a(href="/account") &gt;&gt; View your account &lt;&lt;