<!DOCTYPE HTML>
<html>
<head>
<title>landingPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body>
	<form>
		<a herf="/create_group"><input type = "submit" value = "Create Group"></a><br><br>
		<input type = "submit" value = "Look up Groups"><br>
		<br><input type = "submit" value = "Manage Groups">
	</form>
</body>
</html>