.tab-content a,span,p{
    font-size: 1.5em;
}

.tab-content span,p{
    color: white;   
}

.icon-white{
    padding-right: 15px;   
}

.icon-arrow-left{
    padding-left: 10px;
}

#actions-menu{
    margin-bottom: 15px;
}

#actions-menu a{
    color: white
}

#return-panel-link{
    text-decoration: none;
}

#new-carpool-header{
    font-size: 2.5em;   
}

.icon-white{
    text-decoration: none;   
}

.input-append{
    width:60%;
}

.modal-msg{
    color: #555555;   
}

#locationbox{
    margin-top:12px;
}

textarea{
    width:90%;
}

select{
    width:25%;   
}

.time{
    width:15%;
}

table {
    font-family: 'Gafata', sans-serif;
    font-size: 1.2em;
}

table thead{
    color: rgb(0,136,204);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color: rgb(0,136,204);
}

.accordian-body p{
    font-size: 1.2em;
}

/*media queries*/

/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #actions-menu a{
        font-size: 1em;   
    }
    
    select{
        width:60%;   
    }
    
    .time{
        width:30%;   
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    #new-carpool-header{
        font-size: 1.5em;
        word-wrap: break-word;
    }
    
    select{
        width:50%;   
    }
    
    .time{
         width:40%;   
    }

}
